<div class="navbar-footer">
    <div class="container-fluid">
        <div class="col12 d-flex justify-content-between p-2">
            <div class="align-self-stretch">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-cubes"></i> CoreCMS</a>
            </div>
            <div class="align-self-stretch">
                <ul class="links">
                    <li>
                        <a href="#">Footer link 1</a>
                    </li>
                    <li>
                        <a href="#">Footer link 2</a>
                    </li>
                    <li>
                        <a href="#">Footer link 3</a>
                    </li>
                    <li>
                        <a href="#">Footer link 4</a>
                    </li>
                </ul>
            </div>
            <div class="align-self-stretch">
                <ul class="links">
                    <li>
                        <a href="#">Footer link 5</a>
                    </li>
                    <li>
                        <a href="#">Footer link 6</a>
                    </li>
                    <li>
                        <a href="#">Footer link 7</a>
                    </li>
                    <li>
                        <a href="#">Footer link 8</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>