<div class="overlay"></div>
<!--<top-bar></top-bar>
<section>
    <aside id="leftsidebar" class="sidebar">
        <sidebar-user-area></sidebar-user-area>
        <sidebar-nav></sidebar-nav>
        <sidebar-footer></sidebar-footer>
    </aside>
    <right-sidebar></right-sidebar>
</section>
        -->
<header>
    <client-header></client-header>
</header>
<section>
    <div class="container-fluid client-outlet-wrapper">
        <router-outlet></router-outlet>
    </div>
</section>
<footer>
    <client-footer></client-footer>
</footer>

